@media screen and (min-width: 650px) {
  /* ----------------- Global ------------- */

  /* ----------------- Header ------------- */

  /* ----------------- Footer ------------- */

  #developer {
    display: block;
  }
  /* ----------------- Navigation ------------- */

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }

  /* ----------------- Menu ------------- */

  #menu {
    display: none;
  }


  /* ----------------- Table ------------- */
table tr:nth-child(3) th:nth-child(2), 
table tr:nth-child(3) th:nth-child(3), 
table tr:nth-child(2) th:nth-child(2),
table tr:nth-child(2) th:nth-child(3) 
{
  display:table-cell;
}

table td:nth-child(2),table td:nth-child(3) {
display:table-cell;
}

  table img:hover {
  transform: scale(2);
  transition-duration: 15ms;
}

  /* ----------------- Home Page ------------- */

  /* ----------------- Rentals Page ------------- */

  /* ----------------- Reservations Page ------------- */

  /* ----------------- Contact Us Page ------------- */
}
