@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Oswald:wght@400;700&display=swap");

:root {
  --primary-color: #864819;
  --secondary-color: #245c87;
  --accent1-color: #813e64;
  --accent2-color: #575757;
  --accent3-color: #2c2c2c;

  --heading-font: "Oswald", serif, sans-serif;
  --paragraph-font: "IBM Plex Serif", sans-serif;
}

body {
  margin: auto;
  font-family: var(--paragraph-font);
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* ----------------- Header ------------- */

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--heading-font);
  font-weight: 700;
  width: 100%;
  min-height: 5rem;
}
header h1 {
  font-size: 1.5em;
  margin-right: 3rem;
}

.logo {
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* ----------------- Navigation ------------- */

nav {
  margin: 0 auto;
  width: 100%;
  font-family: var(--paragraph-font);
  font-weight: 700;
  background-color: var(--secondary-color);
}
nav li {
  list-style: none;
}
nav li a {
  display: block;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: var(--accent3-color);
}
nav ul {
  padding-left: 0;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

/* ----------------- Home Page ------------- */
.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

#weather-icon {
  width: 50px;
  height: 50px;
  align-self: center;
}
.card figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#forecast {
  display: block;
}
.day {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.day h3 {
  text-align: center;
  font-size: 0.9rem;
  min-width: 4rem;
}

.day img {
  width: 50px;
  height: auto;
}

#chamberBanner {
  display: none;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--accent3-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  border: 5px solid var(--primary-color);
}
#chamberBanner .chamberBannerClose {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ----------------- Discover Page ------------- */

.discover {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}
.left-sidebar {
  background-color: var(--accent3-color);
  color: white;
  padding: 10px 15px 15px 15px;
  border: 1px solid white;
}
.left-sidebar main h1,
footer h1 {
  font-size: 1rem;
}
.left-sidebar section {
  margin-bottom: 2rem;
}

.left-sidebar a {
  color: white;
  /* text-decoration: none; */
}

.content img {
  width: 100%;
  height: auto;
  border: 1px solid white;
  margin-bottom: 15px;
}

.content figure {
  position: relative;
}
.content figcaption {
  position: absolute;
  bottom: 25px;
  left: 10px;
  background-color: var(--accent3-color);
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0 10px 0 10px;
  border: 1px solid white;
}

.hero-box {
  position: relative;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: -1;
}
.hero-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--accent3-color);
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0 10px 0 10px;
}

.hero-label:hover {
  background-color: var(--primary-color);
}

.hero-box img {
  object-fit: cover;

  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* min-height: 200px; */
  background: linear-gradient(#fff, rgba(250, 187, 62, 0.719));
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.card > h2 {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  color: white;
  background-color: var(--accent3-color);
  text-align: center;
  border-radius: 8px 8px 0 0;
  padding: 10px 0 10px 0;
}

.card figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

p {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.spotlight-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.spotlight-cont :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
}
.spotlight {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  background-color: white;
}
.spotlight h3 {
  text-align: center;
}

.spotlight a {
  padding-left: 15px;
  text-decoration: none;
  color: black;
}
.spotlight-cont p {
  font-style: italic;
}

/* ----------------- Footer ------------- */

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 0.9rem;
}

footer p {
  margin-top: 0;
  margin-bottom: 5px;
}

footer div {
  margin-bottom: 20px;
}

#company-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#company-info h3 {
  padding-left: 10px;
  justify-self: left;
  text-align: left;
  grid-column: 2/3;
}

#company-info img {
  justify-self: right;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
#company-info p {
  justify-self: left;
  grid-column: 2/3;
}

/* ----------------- Menu ------------- */

#menu {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.2rem 0.45rem;
  /* background-color: #eee; */
  border: 0.5px solid white;
  color: white;
  position: absolute;
  top: 1.6rem;
  right: 0.8rem;
}
#menu:hover {
  background-color: var(--accent3-color);
  /* border-radius: 10%; */
}

/* Show hamburger for menu*/
#menu::before {
  content: "≡";
}

/* show x when menu is active */
#menu.show::before {
  content: "X";
}

.navigation {
  list-style: none;
  margin: 0 auto;
}

/* hide the navigation by default mobile view */
.navigation li {
  display: none;
}
/* show the navigation when the menu is checked */
.show li {
  display: block;
}

button {
  background-color: var(--accent3-color);
  color: white;
  border: 1px solid var(--accent3-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* ----------------- Dark Mode & Slider ------------- */

.dark-mode {
  background-color: black;
  /* color: white; */
}

.darkmode-label {
  position: absolute;
  top: 5px;
  right: 50px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent3-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent3-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ----------------- Join Page------------- */
.join > div {
  margin: 0 auto;
}

.join {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  align-items: start;
  padding: 0 2rem;
}

.join form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 20px;
}

/* ----------------- Thank You Page------------- */
.thankyou {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.thankyou .card p {
  text-align: left;
}

/* ----------------- Forms------------- */

form fieldset {
  margin: 2rem 0;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  background-color: white;
  width: 100%;
}

form legend {
  color: var(--secondary-color);
  margin: 0 1rem;
  padding: 0;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 4px;
}

form label.top,
form div {
  display: block;
  margin: 1rem 0;
  padding-top: 1rem;
  color: var(--accent3-color);
  font-size: 1rem;
}
form label.top input,
form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 86%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem;
  color: #555;
}

form .submitBtn {
  border: none;
  background-color: var(--accent3-color);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  align-self: center;
}

form .submitBtn:hover {
  background-color: var(--primary-color);
}

form label.top input:required {
  border-left: red 6px solid;
}
form label.top input:required:valid {
  border-left: green 6px solid;
}

form label.top input:focus,
label.top textarea:focus {
  box-shadow: 5px 5px 10px var(--secondary-color);
}

/* ----------------- Directory Page ------------- */

.directory {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin: 0 auto;
}

.directory h2,
.join h2 {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1rem;
}

.directory div {
  grid-column: 1/-1;
  margin: 0 auto;
}

.directory a {
  text-decoration: none;
}
/* ----------------- Directory Page Grid View ------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}
.grid h2 {
  text-align: center;
  grid-column: 1/-1;
}

.grid .card {
  margin-bottom: 0.5rem;
  max-width: 20rem;
}

.grid .card img {
  width: auto;
  height: 60px;
  border-radius: 0;
  border: 1px solid var(--accent3-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

/* ----------------- Directory Page List View ------------- */

.list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.list section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 0.5rem;
  border: 1px solid var(--accent3-color);
  border-radius: 0;
}

.list section h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.list section a {
  text-decoration: none;
}
.list section:nth-child(odd) {
  background-color: var(--accent2-color);
  color: white;
}
.list section:nth-child(odd) a {
  color: white;
}
.list section:nth-child(even) a {
  color: black;
}

.list .card {
  background: white;
  box-shadow: none;
}

.list img {
  display: none;
}
