@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Oswald:wght@400;700&display=swap");

:root {
  --primary-color: #864819;
  --secondary-color: #245c87;
  --accent1-color: #813e64;
  --accent2-color: #575757;
  --accent3-color: #2c2c2c;

  --heading-font: "Oswald", serif, sans-serif;
  --paragraph-font: "IBM Plex Serif", sans-serif;
}

body {
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--heading-font);
  font-weight: 700;
  width: 100%;
}

nav {
  margin: 0 auto;
  width: 100%;
  font-family: var(--paragraph-font);
  font-weight: 700;
  background-color: var(--secondary-color);
}
nav li {
  list-style: none;
}
nav li a {
  display: block;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: var(--accent3-color);
}
nav ul {
  padding-left: 0;
}

main {
  display: grid;
  margin: auto;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
}

.hero-box {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: -1;
}

.hero-box img {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background-color: #ddbea9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.card> h3 {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  background-color: #b7b7a4;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 0;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}

.spotlight-cont{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


}
.spotlight-cont :nth-child(1){
  grid-column-start: 1;
  grid-column-end: -1;
}
.spotlight{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
