@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
 

  .logo {
    width: 60px;
    height: 60px;
  }

  header h1 {
    font-size: 2.5em;
  }


  .spotlight-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer :nth-child(3) {
    grid-column-start: 3;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }

  #company-info {
    grid-template-columns: 1fr 1fr;
  }
}
