@media screen and (min-width: 960px) {
  main {
    max-width: 1200px;
  }

  .discover {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "lsb main main";
  }

  .left-sidebar {
    grid-area: lsb;
    background-color: var(--accent3-color);
    color: white;
  }
  .content {
    grid-area: main;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  header h1 {
    font-size: 2.5em;
  }

  .overlay::after {
    font-size: 2rem;
    content: "Large";
  }

  .spotlight-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer :nth-child(3) {
    grid-column-start: 3;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }

  #company-info {
    grid-template-columns: 1fr 1fr;
  }
}
