@media screen and (min-width: 400px) {
  .logo {
    width: 45px;
    height: 45px;
  }
  header h1 {
    font-size: 2em;
  }
  /* ----------------- Home Page ------------- */

  .home :nth-child(5) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .hero-label {
    bottom: 30px;
    left: 30px;
    font-size: 1.5em;
  }

  /* .overlay::after {
    font-size: 1.5rem;
    content: "Medium";
  } */

  .content img:hover {
    opacity: 0.6;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    border: 5px solid var(--accent3-color);
  }

  footer {
    grid-template-columns: 1fr 1fr;
  }
  footer :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }

  #company-info {
    grid-template-columns: 1fr 2fr;
  }
}
