/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

body {
  max-width: 1200px;
  margin: auto;
  background-color: #ffe8d6;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #6b705c;
  color: #ffe8d6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 45%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
nav li {
  list-style: none;
  padding: 10px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

section li {
  list-style: none;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #ddbea9;
  border-radius: 10px;
  margin: 10px;
  /* padding: 10px; */
}
.card h3 {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  background-color: #b7b7a4;
  text-align: center;
  border-radius: 10px 10px 0 0;
padding: 10px 0 10px 0;
}
footer{
    background-color: #6b705c;
    color: #ffe8d6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}