@media screen and (min-width: 650px) {
  nav ul {
    display: flex;
    /* justify-content: space-evenly; */
  }


  nav ul li {
    flex: 1 1 auto;
  }

  main {
    grid-template-columns: 1fr 6fr 4fr 1fr;
    justify-content: space-between;
  }

  main h2 {
    grid-column: 1/5;
  }
  main :nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 10px;
  }
  main :nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
